<address id="adresa">
    <p>Contact:</p>
    <p><a href="mailto:mogildearalucamaria@gmail.com" class="btn contact-details">E-mail</a></p>
    <p><a href="tel:+40753094121" class="btn contact-details">Mobil</a></p>
    <p>Adresa:<a href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica">București,
            România</a></p>
    <p>Chat: <a href="skype:contact_fashion?chat">Skype</a> sau <a href="https://wa.me/0753094121">WhatsApp</a>
    </p>
</address>
<!-- Buton top -->
<a href="#" id="link-top" title="Mergi la inceputul paginii">
    <span id="sageata">&#8593;</span>
</a>
<p id="inapoi"><a href="#home">Înapoi Acasă</a></p>
<p id="drepturi"><small>
        &copy; <time datetime="2024-10-22">2024</time> Toate drepturile rezervate. Site-ul Meu de Modă.
    </small>
</p>
<p id="banner">Acesta este un proiect școlar!</p>
<div class="watermark">
    <span>Mogîldea</span>
    <span>Raluca</span>
</div>