<nav>
    <!-- Buton hamburger -->
    <label id="hamburger" for="ch-menu">
        <img src="resurse/imagini/hamburger.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <!-- Meniu principal -->
    <ul class="meniu">
        <!-- Pagina principală -->
        <li>
            <a href="/index#home" class="link-acasa">
                <div class="text-icon" id="acasa">Acasa</div>
                <div class="imag-icon" id="acasa-mediu">
                    <span class="fas fa-house"></span>
                </div>
            </a>
        </li>

        <!-- Secțiuni principale -->
        <li>
            <a href="#">Secțiuni</a>
            <ul class="submenu">
                <li><a href="/index#trends">Tendințe în modă</a></li>
                <li><a href="/index#styles">Stiluri vestimentare</a></li>
                <li><a href="/index#history">Istoria modei</a></li>
                <li><a href="/index#runways">Prezentări de modă</a></li>
                <li><a href="/indexhttp://www.google.com" target="_blank" rel="noopener noreferrer">Produse
                        Recomandate</a></li>
            </ul>
        </li>

        <!-- Secțiuni ale paginii -->
        <li>
            <a href="#sections">Secțiuni din această pagină</a>
            <ul class="submenu">
                <li><a href="/index#calendar">Calendar</a></li>
                <li><a href="/orar#orar">Orar</a></li>
                <li><a href="/index#site">Despre site</a></li>
            </ul>
        </li>

        <!-- Alte secțiuni -->
        <li><a href="/despre#about">Despre Noi</a></li>
        <li><a href="/index#contact">Contact</a></li>
    </ul>
</nav>